* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:root {
  --Orange: hsl(25, 97%, 53%);
  --LightGrey: hsl(217, 12%, 63%);
  --MediumGrey: hsl(216, 12%, 54%);
  --DarkBlue: hsl(213, 19%, 18%);
  --VeryDarkBlue: hsl(216, 12%, 8%);
}

button {
  border: none;
  cursor: pointer;
  transition: background-color 0.5s, color 0.5s;
}

html,
body,
#root {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: var(--VeryDarkBlue);
  color: var(--LightGrey);
  display: grid;
  place-items: center;
  padding: 1rem;
}

.card {
  background-image: linear-gradient(
    to bottom right,
    var(--DarkBlue),
    var(--VeryDarkBlue) 75%
  );
  box-shadow: 0 10px 5px rgba(0, 0, 0, 0.3);
  width: 90%;
  max-width: 400px;
  border-radius: 1rem;
  padding: 1rem;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.card.back {
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.icon {
  background-color: var(--DarkBlue);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  display: grid;
  place-items: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

h1 {
  font-size: 1.2rem;
  color: white;
}

p {
  font-size: 0.85rem;
}

button.submit {
  background-color: var(--Orange);
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 0.5rem;
  padding: 0.5rem 2rem;
}

button.submit:hover {
  color: var(--Orange);
  background-color: white;
}

.ratings {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
}

.rating {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  text-align: center;
  background-color: var(--DarkBlue);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  color: inherit;
  font-size: 1rem;
}

.rating:hover {
  background-color: var(--Orange);
  color: white;
}

.rating.active {
  background-color: var(--MediumGrey);
  color: white;
}

.result {
  background-color: var(--DarkBlue);
  padding: 0.3rem 1rem;
  border-radius: 1rem;
  color: color-mix(in srgb, var(--Orange) 75%, white);
}

.card {
  background: var(--Orange);
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  flex-direction: column;
  color: black;
}

div:has(.list-item) {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50%;
  margin-inline: auto;
}

.list-item {
  background: var(--Orange);
  border-radius: 0.5rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.list-item:hover {
  opacity: 0.8;
}

.list-item > * {
  cursor: pointer;
}

.list-item label {
  flex: 1;
  color: white;
  height: 100%;
}

.links {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 2rem;
}

.links a {
  text-decoration: none;
  color: orange;
}

.links a:hover {
  opacity: 0.5;
}

.auth-layout {
  display: flex;
  border-radius: 1rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  min-height: 50vh;
}

.auth-layout .left {
  flex: 1;
  background: url("https://media.greatbigphotographyworld.com/wp-content/uploads/2014/11/Landscape-Photography-steps.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  gap: 3rem;
}

.auth-layout .left footer {
  font-size: 0.75rem;
}

.auth-layout .right {
  flex: 1;
  background: white;
  padding: 1rem;
}

.auth-page {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.auth-page form {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.auth-page input {
  border: 1px solid var(--Orange);
  padding: 0.75rem 0.5rem;
  border-radius: 0.25rem;
}

.auth-page form button {
  background-color: var(--Orange);
  border-radius: 0.5rem;
  padding: 1rem 2rem;
}

.auth-page .link {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  background-color: bisque;
}

.hooks li {
  text-align: left;
}

.hook-use-ref {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-bottom: 5rem;
}

/* .hook-use-ref input{
  background-color: white;
  border: 1px solid white;
  border-radius: 1rem;
  padding: 1rem .75rem;
  color: black;
  font-size: 1.5rem;
} */

.hook-use-ref input:focus {
  border-color: #3bac4a;
  outline: 3px solid #1f6a29;
}

.search-box-wrapper {
  background-color: red;
  height: 3rem;
  width: 3rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 0.5s linear, border-radius 0.1s;
  border: 3px solid transparent;
}

.search-box-wrapper.open {
  width: 100%;
  border-radius: 1rem;
  background-color: white;
}

.search-box-wrapper button {
  background-color: transparent;
  padding: 0;
  height: 3rem;
  width: 3rem;
  flex-shrink: 0;
}

.search-box-wrapper button:focus {
  outline: none;
}

.search-box-wrapper.open button {
  color: red;
}

.search-box-wrapper input {
  background-color: transparent;
  border: none;
  flex: 1;
  outline: none;
  color: black;
  display: none;
  font-size: 1.125rem;
}

.search-box-wrapper.open input {
  display: flex;
}

.search-box-wrapper.open input:focus {
  outline: none;
}

.search-box-wrapper.open:has(input:focus) {
  border-color: red;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--Orange);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}
