@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Inter;
    src: url("fonts/Inter.ttf");
  }

  @font-face {
    font-family: Inconsolata;
    src: url("fonts/Inconsolata.ttf");
  }

  @font-face {
    font-family: Lora;
    src: url("fonts/Lora.ttf");
  }
}

body {
  @apply font-inter dark:bg-appBlack1;
}

body.sans-serif {
  @apply !font-inter;
}
body.serif {
  @apply !font-lora;
}

body.mono {
  @apply !font-inconsolata;
}
